*.db
*.zsh
testdata/
#non-project stuff
.vscode
.vscode/
/.vscode/
/__pycache__/
__pycache__
__pycache__/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Operating System Files
.DS_Store
Thumbs.db